body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 70%;
  margin: 0 auto;
  padding-top: 30px;
}

header {
  width: 100%;
  text-align: center;
  background-color: #444444;
  color: white;
  height: 150px;
}

h2 {
  margin: 0;
  line-height: 150px;
  font-size: 50px;
}

.title {
  color: #e5e55b;
}

a {
  color: #5a86d5;
}

a:hover {
  color: #83aaf0;
}
